<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <Program.Properties.Settings>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>yyyy-MM-dd hh-mm-ss</value>
            </setting>
            <setting name="ImportItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportRecipes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipToItemId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ItemsPakPath" serializeAs="String">
                <value>Data\Items\Items.pak</value>
            </setting>
            <setting name="PrepareZips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZipMaxFiles" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AionDirectory" serializeAs="String">
                <value>D:\Aion</value>
            </setting>
            <setting name="JsDirectory" serializeAs="String">
                <value>D:\AionMaterialCalculator\Website\Recipes</value>
            </setting>
            <setting name="Paks" serializeAs="String">
                <value>L10N\1_enu\data\data.pak:en</value>
            </setting>
            <setting name="ZipDirectory" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
        </Program.Properties.Settings>
    </applicationSettings>
</configuration>